.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
    magin-left: 5px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: #000;
    border: 1px solid #E5E4E2;
    color: #fff;
}

a:hover {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}
