* {
  box-sizing: border-box;
}

.form_header {
  background-color: #15317E;
  /*height: 150px;*/
  padding: 2px;
  color: #fff;
}

.form_header_logo {
  animation: logo_spin infinite 20s linear;
  height: 70px;
}

@keyframes logo_spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form_container {
    text-align: center;
    width: 40%;
    min-width: 400px;
}

.form_container fieldset {
    border-color: #15317E;
}


.form_container {
    text-align: center;
    width: 40%;
}

.form_container fieldset {
    border-color: #15317E;
}

.form_container fieldset legend {
   color: #15317E;
   font-size: 20px;
}

.form_input, .form_output {
    text-align: left;
    margin: 10px 2px 10px 2px;
}

.form_input label {
    display: block;
}

.form_input select {
    width: 50%;
    font-size: 14px;
}

.form_input textarea {
    width: 100%;
    font-size: 12px;
}

.form_required_input {
    color: #f00;
}

select:focus, textarea:focus {
    border: 1px solid #00FFFF;
}

.form_output div {
    width: 50%;
    display: inline-block;
}

.form_output label {
    display: block;
}

.form_output input[type="text"] {
    /*min-height: 24px;*/
    font-size: 13px;
    width: 90%;
    display: inline-block;
    background-color: #E5E4E2;
    color: #0041C2;
    padding: 2px;
    border: 1px solid #0020C2;
}

.action_bar button {
    margin-left: 5px;
}

button[type=submit], input[type=submit], button[type=reset], input[type=reset] {
    font-size: 13px;
    background-color: #0020C2;
    color: #fff;
    font-weight: bold;
    padding: 14px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #616D7E;
}

button[type=submit]:hover, input[type=submit]:hover, button[type=reset]:hover, input[type=reset]:hover {
    color: #0020C2;
    background-color: #fff;
    border: 2px solid #0020C2;
}

button[type=button], input[type=button] {
    font-size: 13px;
    background-color: #616D7E;
    color: #fff;
    font-weight: bold;
    padding: 14px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #616D7E;
}

button[type=button]:hover, input[type=button]:hover {
    color: #616D7E;
    background-color: #fff;
    border: 2px solid #616D7E;
}
