table {
    border: none;
}

.report_data_table {
    width: 70%;
    min-width: 600px;
}

.state_data_table, .record_data_table {
    width: 100%;
    padding: 5px;
}

.report_data_table td, .report_data_table th {
    padding: 10px;
    border: 0.2px solid #616D7E;
}

th {
    font-size: 16px;
    color: #15317E;
}

.report_data_table th {
    background-color: #2B65EC;
    color: #fff;
}

.state_data_table th {
    background-color: #736AFF;
    color: #fff;
}

.record_data_table th {
    background-color: #E5E4E2;
    color: #00f;
}

.record_data_table tfoot td {
    text-align: right;
    font-weight: bold;
    color: #000;
    font-size: 16px;
}

.report_data_table td {
    font-size: 14px;
    color: #000;
}

